$header-titlebar-height-small: 54px;
$header-titlebar-height-medium: 54px;
$header-titlebar-height-large: 54px;
$header-banner-height-small: 175px;
$header-banner-height-medium: 250px;
$header-banner-height-large: 250px;
$header-padding: 16px;
$footer-height-small: 152px;
$footer-height-medium: 152px;
$footer-height-large: 100px;
$light-background-color: #f5f5f5;
