$header-titlebar-height-small: 56px;
$header-titlebar-height-medium: 56px;
$header-titlebar-height-large: 56px;
$header-padding: 16px;
$footer-height-small: 152px;
$footer-height-medium: 100px;
$footer-height-large: 100px;
