@import '_settings.scss';

// Dependencies
@import 'normalize';
@import 'helpers/missing-dependencies';
@import 'helpers/true';
@import 'functions/purge';
@import 'functions/remove';
@import 'functions/replace';
@import 'functions/to-list';

// Sass utilities
@import 'util/util';

// Global variables and styles
@import 'global';

@import 'components/card';
@import 'components/button';
@import 'components/menu';

@include foundation-card;
@include foundation-button;
@include foundation-menu;
@import 'amp/_typography.scss';

$header-height: 220px;
$footer-height: 100px;

body, html {
  height: 100%;
}

body {
  background: $body-background;
  font-family: $body-font-family;
}

div.card-divider.primary {
  @include card-divider($background: $primary-color);
  color: $white;
}

div.card-divider.secondary {
  @include card-divider($background: $secondary-color);
  color: $white;
}

div.row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  div.column {
    padding: 0 $global-padding;
  }
}

div.text-center, p.text-center {
  text-align: center;
}

a.appstore-button {
  background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;
  width: 135px;
  height: 40px;
  background-size:contain;
}

ul.menu {
  a.logo-button {
    height: 32px;
    width: 32px;
    padding: 0;
  }

  amp-img img {
    margin: 0;
  }
}

div.header {
  height: $header-height;
  background: $primary-color;
  background: linear-gradient($primary-color, $body-background);

  h1 {
    color: $secondary-color;
    font-size: 32px;
    margin-top: $global-margin;
    display: block;
    text-align: center;
  }

  div.menu-centered {
    text-align: right;

    ul.menu li a {
      color: white;
    }
  }

  div.logo-container {
    height: 96px;
    width: 96px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: $global-padding;

    a.logo {
      background-size: contain;
      position: absolute;
      height: 96px;
      width: 96px;
    }
  }
}

div.main {
  min-height: calc(100vh - #{$header-height + $footer-height} - #{ $global-padding });
}

div.footer {
  height: $footer-height;
  background: $secondary-color;

  div.row div.column {
    margin-bottom: $global-margin;
  }

  p.copyright {
    margin: 6px 0 0;
    font-size: 0.75em;
    color: $white;
    text-align: center;
  }

  div.menu-centered {
    text-align: center;
    padding-top: $global-padding;

    ul.menu li a {
      color: white;
    }
  }
}
