@import "_fonts";
@import "_settings";
@import "node_modules/angular-base-apps/scss/base";

.menu-bar {
  a svg {
    margin: 0;
  }

  li.header {
    a {
      cursor: default;
      background-color: $secondary-color;
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

.panel#menu {
  background-color: $primary-color;

  > div.grid-block {
    height: 100%;
		overflow: auto;

    // COPY RIGHT
    > div:last-child {
      flex-shrink: 0;
      justify-content: flex-end;
      padding-top: 1rem;

      ul li a {
        div {
          width: 100%;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
}

.card.circle {
  max-width: 162px;
  border-radius: 50%;
  padding: 1rem;
  svg {
    height: 128px;
    width: 128px;
  }
}
