{{#ifequal root ''}}
<a href="/account" class="root-user-header"><i class="fi-torso"></i><span class="user-name"></span></a>
<div class="main-header">
  <div class="logo-container">
    <div class="logo">
    </div>
  </div>
</div>
{{else}}
<div class="top-bar primary">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a href="/" class="logo-back-button"></a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/account"><i class="fi-torso"></i><span class="user-name"></span></a></li>
    </ul>
  </div>
</div>
{{/ifequal}}
