{{#ifequal id 'game-template'}}
<div class="row">
  <div class="columns small-12" id="pie_chart_div"></div>
  <div class="columns small-12 large-6" id="line_chart_div"></div>
  <div class="columns small-12 large-6" id="line_chart_div2"></div>
  <div class="columns small-12 large-6" id="line_chart_div3"></div>
  <div class="columns small-12 large-6" id="line_chart_div4"></div>
</div>
{{/ifequal}}
{{#ifequal id 'smashdot'}}
<div class="row hide-auth" style="display: none;">
  <div class="columns small-12">
    <h3>Rankings</h3>
    <p>Must login to see user rankings.</p>
    <a class="button large text-center" href="{{root}}account">Login</a>
  </div>
</div>
<div class="row show-auth" style="display: none;">
  <div class="columns small-12">
    <h3>Rankings</h3>
    <p>Rankings for <a href="{{root}}account"><span class="user-name"></span></a></p>
  </div>
  <div class="columns small-6 text-center">
    <h4>Classic</h4>
    <h2 id="classic_ranking1"></h2>
    <h6 id="classic_ranking2"></h6>
  </div>
  <div class="columns small-6 text-center">
    <h4>Survival</h4>
    <h2 id="survival_ranking1"></h2>
    <h6 id="survival_ranking2"></h6>
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <h3>Analytics</h3>
    <p>Various metrics and charts calculated from all games played.</p>
  </div>
  <div class="columns small-6 medium-3 large-4 text-center">
    <h4>Games Played</h4>
    <h2 id="game_played_count"></h2>
  </div>
  <div class="columns small-6 medium-3 large-4 text-center">
    <h4>Users Played</h4>
    <h2 id="user_played_count"></h2>
  </div>
  <div class="columns small-12 medium-6 large-4 text-center">
    <h4>Last Played</h4>
    <h2><time id="last_played_timestamp"></time></h2>
  </div>
  <div class="columns small-12 large-6" id="sum_played_chart"></div>
  <div class="columns small-12 large-6" id="max_score_chart"></div>
</div>
{{/ifequal}}
{{#ifequal id 'heartbeat'}}
<div class="row">
  <div class="columns small-12">
    <h3>Analytics</h3>
    <p>Various metrics and charts calculated from all games played.</p>
  </div>
  <div class="columns small-6 medium-3 large-4 text-center">
    <h4>Games Played</h4>
    <h2 id="game_played_count"></h2>
  </div>
  <div class="columns small-6 medium-3 large-4 text-center">
    <h4>Users Played</h4>
    <h2 id="user_played_count"></h2>
  </div>
  <div class="columns small-12 medium-6 large-4 text-center">
    <h4>Last Played</h4>
    <h2><time id="last_played_timestamp"></time></h2>
  </div>
</div>
{{/ifequal}}
<script type="text/javascript">
  window.GreenhouseGames.reporting = '{{ id }}';
</script>
