<style amp-custom>
  body, html {
    height: 100%;
  }

  body {
    background: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }

  section.header {
    height: 200px;
    background: #77dd77;
    background: linear-gradient(#77dd77, #f5f5f5);
  }

  section.header span {
    color: #777;
    font-size: 32px;
    margin-top: 16px;
    display: block;
    text-align: center;
  }

  section.header div.logo-container {
    height: 96px;
    width: 96px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 16px;
  }

  section.header div.logo-container a.logo {
    background: url({{root}}assets/icons/logo-circle-large.png);
    background-size: contain;
    position: absolute;
    height: 96px;
    width: 96px;
  }

  section.main {
    min-height: calc(100vh - 300px);
  }

  section.footer {
    height: 100px;
    background: #777;
  }

  section.footer p.copyright {
    margin: 6px 0 0;
    font-size: 0.75em;
    color: #ffffff;
    text-align: center;
  }

  section.footer ul.menu {
    list-style: none;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 0;
  }

  section.footer ul.menu li {
    display: table-cell;
    vertical-align: middle;
  }

  section.footer ul.menu li a {
    color: #e6e6e6;
    display: block;
    padding: .7rem 1rem;
    line-height: 1;
    text-decoration: none;
  }

  section.footer a.logo-button {
    background: url({{root}}assets/icons/logo-circle.png);
    height: 32px;
    width: 32px;
  }

  section.footer ul.menu li a.logo-button {
    padding: 0;
  }

  section.footer div.row div.column {
    margin-bottom: 16px;
  }

  div.row {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  div.row div.column{
    padding: 0 16px;
  }

  div.row div.column p {
    margin: 0;
  }

  .text-center {
    text-align: center;
  }
</style>
