<div class="footer">
  <div class="row">
    <div class="column">
      <div class="text-center">
        <ul class="menu">
          <li><a href="/" class="logo-button"><amp-img src="{{@root.root}}assets/icons/logo-circle.png" alt="Home" width="32" height="32"></amp-img></a></li>
          <li><a href="{{@root.root}}about.amp.html">ABOUT</a></li>
          <li><a href="{{@root.root}}contact.amp.html">CONTACT</a></li>
          <li><a href="{{@root.root}}privacy.amp.html">PRIVACY</a></li>
        </ul>
      </div>
      <p class="copyright">© 2016-2017 Greenhouse Games, LLC. All rights reserved.</p>
    </div>
  </div>
  <amp-analytics type="googleanalytics">
  <script type="application/json">
  {
    "vars": {
      "account": "UA-85526007-1"
    },
    "triggers": {
      "trackPageview": {
        "on": "visible",
        "request": "pageview"
      }
    }
  }
  </script>
  </amp-analytics>
</div>
