<div class="row">
  <div class="large-4 columns">
    <ul class="social-menu">
      <li>
        <a href="https://www.instagram.com/greenhousegamez/?ref=badge" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
      </li>
      <li>
        <a href="https://twitter.com/greenhousegamez" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @greenhousegamez</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </li>
      <li>
        <div class="fb-like" data-href="https://www.facebook.com/greenhousegamez" data-width="100" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
      </li>
    </ul>
  </div>
  <div class="large-8 columns">
    <div class="menu-centered">
      <ul class="menu">
        <li><a href="/" class="logo-button"></a></li>
        <li><a href="{{@root.root}}about.html">ABOUT</a></li>
        <li><a href="{{@root.root}}contact.html">CONTACT</a></li>
        <li><a href="{{@root.root}}privacy.html">PRIVACY</a></li>
      </ul>
    </div>
    <p class="copyright">© 2016-2017 Greenhouse Games, LLC. All rights reserved.</p>
  </div>
</div>
