<div class="column small-12 medium-9 large-6 small-centered">
  <div class="card">
    <a href="{{@root.root}}games/{{key}}">
      <div class="float-divider">
        <div class="row">
          <div class="columns">
            <h2>{{name}}</h2>
          </div>
        </div>
        <img src="{{@root.root}}assets/img/games/{{key}}/screenshot.png"/>
      </div>
    </a>
    <div class="card-section">
      <p>{{description}}</p>
      <div class="row small-up-1 text-center">
        {{#if playstore}}
        <div class="column">
          <a class="playstore-button" href="{{playstore}}">
            <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"/>
          </a>
        </div>
        {{/if}}
        {{#if appstore}}
        <div class="column">
          <a class="appstore-button" href="{{appstore}}"></a>
        </div>
        {{/if}}
        <div class="column">
          <a class="greenhousestore-button button dark" href="{{@root.root}}games/{{key}}/play/#">
            <div class="image"></div><div class="text">Play on<br/><strong>Greenhouse</strong></div>
          </a>
        </div>
      </div>
      <div class="row small-up-1 medium-up-2">
        <div class="column">
        </div>
      </div>
    </div>
  </div>
</div>
