<div class="top-bar primary">
  <div class="top-bar-left">
    <ul class="menu">
      {{#ifequal root ''}}
      <li><a href="/" class="logo-back-button"></a></li>
      {{else}}
        {{#ifequal layout 'abc'}}
          {{#ifpage 'index'}}
          <li><a href="/" class="logo-back-button"></a></li>
          {{/ifpage}}
          {{#unlesspage 'index'}}
          <li><a href="/learn/abc" class="arrow-back-button"><i class="fi-arrow-left"></i></a></li>
          {{/unlesspage}}
        {{else}}
        <li><a href="/" class="logo-back-button"></a></li>
        {{/ifequal}}
      {{/ifequal}}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="">Games</a>
        <ul class="menu vertical">
          <li><a href="/games/smashdot.html">Smash Dot</a></li>
        </ul>
      </li>
      <li>
        <a href="">Learn</a>
        <ul class="menu vertical">
          <li><a href="/learn/abc">ABC of Games</a></li>
          <li><a href="/learn/frameworks">Game Frameworks</a></li>
        </ul>
      </li>
      <li>
        <a href="">Account</a>
        <ul class="menu vertical">
          <li class="hide-auth"><a href="/account">Login</a></li>
          <li class="show-auth"><a href="/account"><img class="thumbnail-image user-image"></img><span class="user-name"></span></a></li>
          <li class="show-auth"><a id="header-logout-button">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<script>
$('#header-logout-button').click(() => window.GreenhouseGames.client.signOut().then(window.GreenhouseGames.authHelpers.hideAuth).catch(window.GreenhouseGames.authHelpers.hideAuth));
</script>
