<div class="top-bar primary">
  <div class="top-bar-left">
    <ul class="menu">
      {{#if abcletter}}
      <li><a href="{{@root.root}}learn/abc" class="arrow-back-button"><i class="fi-arrow-left"></i></a></li>
      {{/if}}
      {{#if backlogo}}
      <li><a href="/" class="logo-back-button"></a></li>
      {{/if}}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="{{@root.root}}games">Games</a>
        <ul class="menu vertical">
          {{#each @root.games}}
            <li><a href="{{@root.root}}games/{{key}}">{{name}}</a></li>
          {{/each}}
        </ul>
      </li>
      <li>
        <a href="{{@root.root}}learn/abc">Learn</a>
        <ul class="menu vertical">
          <li><a href="{{@root.root}}learn/abc">ABC of Games</a></li>
        </ul>
      </li>
      <li>
        <a href="{{@root.root}}account">Account</a>
        <ul class="menu vertical">
          <li class="hide-auth"><a href="{{@root.root}}account">Login</a></li>
          <li class="show-auth">
            <a href="{{@root.root}}account" class="account-link">
              <div class="thumbnail-image user-image"></div>
              <i class="fi-torso user-image-guest"></i>
              <span class="user-name"></span>
            </a>
          </li>
          <li class="show-auth"><a id="header-logout-button">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
{{#if largeheader}}
<div class="row expanded">
  <div class="main-header-banner">
    <div class=logo-container>
      <a class="logo" href="/"></a>
    </div>
    {{#if abcletter}}
    {{#single @root.abc abcletter}}
    <span>{{ this.header }}</span>
    {{/single}}
    {{else}}
    <span>{{ title }}</span>
    {{/if}}
  </div>
</div>
{{/if}}
<script>
$(document).ready(function() {
  $('#header-logout-button').click(function() {
    window.GreenhouseGames.client.signOut().then(window.GreenhouseGames.authHelpers.hideAuth).catch(window.GreenhouseGames.authHelpers.hideAuth);
  });
});
</script>
