<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="Greenhouse Games, LLC">
<title>{{@root.title}}</title>
{{#unless skipdescription}}
  {{#if @root.description}}
  <meta name="description" content="{{@root.description}}">
  {{else}}
  <meta name="description" content="Fun, simple, and addicting games built for android, ios, and web!  Download apps for free now from the app store and play store!">
  {{/if}}
{{/unless}}
<link rel="stylesheet" href="{{@root.root}}assets/css/app.css">
<link rel="shortcut icon" type="image/x-icon" href="{{@root.root}}assets/icons/favicon.ico"/>
<link rel="apple-touch-icon" sizes="57x57" href="{{@root.root}}assets/icons/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{@root.root}}assets/icons/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{@root.root}}assets/icons/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{@root.root}}assets/icons/apple-icon-144x144.png" />
<link rel="stylesheet" href="{{@root.root}}assets/foundation-icons/foundation-icons.css" />
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1862027323148977",
    enable_page_level_ads: true
  });
</script>
<script src="{{@root.root}}assets/js/vendor.js"></script>
<script onload="require('app.js')" src="{{@root.root}}assets/js/app.js"></script>
{{#unless hideorgdata}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Greenhouse Games, LLC",
  "url": "https://www.greenhousegames.com",
  "logo": "https://www.greenhousegames.com/assets/icons/logo-circle-large.png",
  "sameAs": [
    "https://www.facebook.com/greenhousegamez",
    "https://twitter.com/greenhousegamez",
    "https://www.instagram.com/greenhousegamez"
  ],
  "founder": {
    "@type": "Person",
    "name": "Brian Soumakian",
    "sameAs": [
      "https://www.linkedin.com/in/brian-soumakian-91141811",
      "https://www.facebook.com/briansoumakian",
      "https://twitter.com/briansoumakian"
    ]
  }
}
</script>
{{/unless}}
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
// facebook
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1193182344132806";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
