<div class="row">
  <div class="column small-12" id="learning-game-{{ letter }}-container">
    <div id="learning-game-{{ letter }}">
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="card-divider primary text-center">
        <h1>{{ header }}</h1>
      </div>
      <div class="card-section">
        <h4 class="text-center subheader">{{ subheader }}</h4>
        <p>{{{ content }}}</p>
        <div class="text-center">
          <a class="button icon-button secondary {{#unless prev}}hollow{{/unless}}" {{#if prev}}href="{{ prev }}"{{/if}}><i class="fi-rewind medium-icon"></i>PREVIOUS</a>
          <a class="button icon-button-right secondary {{#unless next}}hollow{{/unless}}" {{#if next}}href="{{ next }}"{{/if}}>NEXT<i class="fi-fast-forward medium-icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{root}}assets/js/pages/learn/abc/utils.js"></script>
<script src="{{root}}assets/js/pages/learn/abc/{{ letter }}.js"></script>
<script>
$(document).ready(function() {
  var create = require('pages/learn/abc/{{ letter }}.js');
  create();
});
</script>
