<div class="abc column">
  <div id="card-letter-{{ letter }}" class="card">
    <div class="card-divider primary text-center">
      <h4>{{header}}</h4>
    </div>
    <div class="card-section text-center">
      <p>{{ subheader }}</p>
      <div class="clearfix">
        <div class="float-left">
          <a class="preview-button">VIEW PREVIEW</a>
        </div>
        <div class="float-right">
          <a class="start-button" href="{{ @root.root }}learn/abc/{{ letter }}.html">START LESSON</a>
        </div>
      </div>
    </div>
  </div>
</div>
