<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Course",
  "name": "{{ header }}",
  "description": "Lesson about {{ name }} in games",
  "url": "https://www.greenhousegames.com/learn/abc/{{ letter }}.html",
  "provider": {
    "@type": "Organization",
    "name": "Greenhouse Games, LLC",
    "sameAs": "https://www.greenhousegames.com"
  }
}
</script>
<div class="abc column">
  <div id="card-letter-{{ letter }}" class="card">
    {{#if preview}}
    <div id="learning-game-{{ letter }}-container" class="show-for-medium">
      <div class="learning-preview-image">
        <div id="learning-game-{{ letter }}"></div>
        <img src="{{ @root.root }}assets/img/learning/preview-placeholder.png"></img>
      </div>
    </div>
    {{/if}}
    {{#if showdivider}}
    <div class="card-divider primary show-for-medium">
      <h4>{{uppercase letter}}</h4>
    </div>
    {{/if}}
    <div class="card-section text-center">
      <p>{{ header }}</p>
      <a href="{{ @root.root }}learn/abc/{{ letter }}.html">START LESSON</a>
    </div>
  </div>
</div>
{{#if preview}}
<script>
$(document).ready(function() {
  var create = null, game = null, loaded = false, loading = false;
  load();

  function loadscript(cb) {
    if (!loaded && !loading) {
      loading = true;
      $.getScript("{{ @root.root }}assets/js/pages/learn/abc/{{ letter }}.js")
        .done(function( script, textStatus ) {
          loaded = true;
          loading = false;
          cb();
        })
        .fail(function( jqxhr, settings, exception ) {
          loading = false;
        });
    } else {
      cb();
    }
  }

  function load() {
    $('#card-letter-{{ letter }}').hover(function() {
      if (Foundation.MediaQuery.current != "small") {
        loadscript(function() {
          if (!create) {
            create = require('pages/learn/abc/{{ letter }}.js');
          }

          if (!game) {
            game = create();
            $('#learning-game-{{ letter }}').show();
          }
        });
      }
    }, function() {
      $('#learning-game-{{ letter }}').fadeOut({
        complete: function() {
          if (game) {
            game.destroy();
            game = null;
          }
        }
      });
    });
  }
});
</script>
{{/if}}
