<div class="row">
  <div class="column small-12" id="learning-game-{{ letter }}-container">
    <div id="learning-game-{{ letter }}">
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="card-divider primary text-center">
        <h1>{{ header }}</h1>
      </div>
      <div class="card-section">
        <h4 class="text-center subheader">{{ subheader }}</h4>
        <p>{{{ content }}}</p>
        <h4 class="subheader text-center">References</h4>
        {{#unless dependencies}}
        <p>This lesson does not reference any other lessons.</p>
        {{/unless}}
        {{#if dependencies}}
        <p>This lesson references the following other lessons:</p>
        <ul>
          {{#each dependencies}}
            {{#single @root.abc this}}
            <li><a href="{{letter}}.html">{{header}}</a></li>
            {{/single}}
          {{/each}}
        </ul>
        {{/if}}
        <h4 class="subheader text-center">Continue Learning</h4>
        <div class="row small-up-1 medium-up-2 text-center">
          <div class="column">
            <h6>Following Alphabetically?</h6>
            {{#singlesorted @root.abc 'letter' letter -1 }}
              <a class="button icon-button secondary {{#unless letter}}hollow{{/unless}}" {{#if letter}}href="{{ letter }}.html"{{/if}}><i class="fi-rewind medium-icon"></i>PREVIOUS</a>
            {{/singlesorted}}
            {{#singlesorted @root.abc 'letter' letter 1 }}
              <a class="button icon-button-right secondary {{#unless letter}}hollow{{/unless}}" {{#if letter}}href="{{ letter }}.html"{{/if}}>NEXT<i class="fi-fast-forward medium-icon"></i></a>
            {{/singlesorted}}
          </div>
          <div class="column">
            <h6>Following Lesson Plan?</h6>
            {{#singlesorted @root.abc 'order' letter -1 }}
              <a class="button icon-button secondary {{#unless letter}}hollow{{/unless}}" {{#if letter}}href="{{ letter }}.html"{{/if}}><i class="fi-rewind medium-icon"></i>PREVIOUS</a>
            {{/singlesorted}}
            {{#singlesorted @root.abc 'order' letter 1 }}
              <a class="button icon-button-right secondary {{#unless letter}}hollow{{/unless}}" {{#if letter}}href="{{ letter }}.html"{{/if}}>NEXT<i class="fi-fast-forward medium-icon"></i></a>
            {{/singlesorted}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ @root.root }}assets/js/pages/learn/abc/utils.js"></script>
<script src="{{ @root.root }}assets/js/pages/learn/abc/{{ letter }}.js"></script>
<script>
$(document).ready(function() {
  var create = require('pages/learn/abc/{{ letter }}.js');
  create();
});
</script>
