<div class="row">
  <div class="column small-12">
    <div class="card" id="learning-game-{{ letter }}-container">
      <div class="learning-preview-image">
        <div id="learning-game-{{ letter }}"></div>
        <div class="fill-black"></div>
      </div>
    </div>
  </div>
  <div class="column small-12">
    <div class="card">
      <div class="card-section">
        <h4 class="text-center subheader">{{ subheader }}</h4>
        <p>{{{ content }}}</p>
      </div>
    </div>
  </div>
  {{#if controls}}
  <div class="column small-12">
    <div class="card" id="controls">
      <div class="card-section">
        <h4 class="subheader text-center">Controls</h4>
        <ul class="controls-list">
          {{#each controls}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{/if}}
  <div class="column small-12">
    <div class="card lesson-code">
      <div class="card-section">
        <h4 class="subheader text-center">Code</h4>
        <p>This lesson was built using <a href="http://phaser.io">Phaser</a>.  The code is provided below for further learning.</p>
        <ul class="tabs" data-tabs id="example-tabs">
          <li class="tabs-title is-active"><a href="#letterjs" aria-selected="true"><h6>{{letter}}.js</h6></a></li>
          <li class="tabs-title"><a href="#letterhtml"><h6>{{letter}}.html</h6></a></li>
          <li class="tabs-title"><a href="#utilsjs"><h6>utils.js</h6></a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
          <div class="tabs-panel is-active" id="letterjs">
            <pre>
              <code class="javascript">{{getfile 'app/pages/learn/abc/' letter '.js'}}</code>
            </pre>
          </div>
          <div class="tabs-panel" id="letterhtml">
            <pre>
              <code class="html" id="html-file-contents">{{#escape}}<div id="learning-game-{{ @root.letter }}"></div>
<script>
$(document).ready(function() {
  var create = require("{{ @root.letter }}.js");
  create();
});
</script>
{{/escape}}</code>
            </pre>
          </div>
          <div class="tabs-panel" id="utilsjs">
            <pre>
              <code class="javascript">{{getfile 'app/pages/learn/abc/' 'utils' '.js' }}</code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column small-12 medium-6">
    <div class="card">
      <div class="card-section">
        <h4 class="subheader text-center">References</h4>
        {{#unless dependencies}}
        <p>No other lessons have been referenced.</p>
        {{/unless}}
        {{#if dependencies}}
        <p>The following other lessons have been referenced:</p>
        <ul>
          {{#each dependencies}}
            {{#single @root.abc this}}
            <li><a href="{{letter}}.html">{{header}}</a></li>
            {{/single}}
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="column small-12 medium-6">
    <div class="card">
      <div class="card-section">
        <h4 class="subheader text-center">Continue Learning</h4>
        <div class="row medium-up-1 large-up-2 text-center">
          <div class="column">
            <h6>Following Alphabetically?</h6>
            {{#singlesorted @root.abc 'letter' letter -1 }}
              <a class="button icon-button secondary {{#unless letter}}hollow{{/unless}}" {{#if letter}}href="{{ letter }}.html"{{/if}}><i class="fi-rewind medium-icon"></i>PREVIOUS</a>
            {{/singlesorted}}
            {{#singlesorted @root.abc 'letter' letter 1 }}
              <a class="button icon-button-right secondary {{#unless letter}}hollow{{/unless}}" {{#if letter}}href="{{ letter }}.html"{{/if}}>NEXT<i class="fi-fast-forward medium-icon"></i></a>
            {{/singlesorted}}
          </div>
          <div class="column">
            <h6>Following Lesson Plan?</h6>
            {{#singlesorted @root.abc 'order' letter -1 }}
              <a class="button icon-button secondary {{#unless letter}}hollow{{/unless}}" {{#if letter}}href="{{ letter }}.html"{{/if}}><i class="fi-rewind medium-icon"></i>PREVIOUS</a>
            {{/singlesorted}}
            {{#singlesorted @root.abc 'order' letter 1 }}
              <a class="button icon-button-right secondary {{#unless letter}}hollow{{/unless}}" {{#if letter}}href="{{ letter }}.html"{{/if}}>NEXT<i class="fi-fast-forward medium-icon"></i></a>
            {{/singlesorted}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ @root.root }}assets/js/pages/learn/abc/utils.js"></script>
<script src="{{ @root.root }}assets/js/pages/learn/abc/{{ letter }}.js"></script>
<script>
$(document).ready(function() {
  var create = require('pages/learn/abc/{{ letter }}.js');
  create();
});
</script>
