<div class="abc column">
  <div id="card-letter-{{ letter }}" class="card">
    {{#if preview}}
    <div id="learning-game-{{ letter }}-container" class="show-for-medium">
      <div id="learning-game-{{ letter }}"></div>
      <img src="{{ @root.root }}assets/img/learning/preview-placeholder.png"></img>
    </div>
    {{/if}}
    {{#if header}}
    <div class="card-divider primary show-for-medium">
      <h4>{{ letterUpper }}</h4>
    </div>
    {{/if}}
    <div class="card-section text-center">
      <p>{{ desc }}</p>
      <a href="{{ @root.root }}learn/abc/{{ letter }}.html">START LESSON</a>
    </div>
  </div>
</div>
<script src="{{ @root.root }}assets/js/pages/learn/abc/{{ letter }}.js"></script>
<script>
$(document).ready(function() {
  var create = require('pages/learn/abc/{{ letter }}.js');
  var game;
  $('#card-letter-{{ letter }}').hover(function() {
    if (!game) {
      $('#learning-game-{{ letter }}-container img').hide();
      $('#learning-game-{{ letter }}').show();
      game = create();
    }
  }, function() {
    $('#learning-game-{{ letter }}').fadeOut({
      complete: function() {
        if (game) {
          $('#learning-game-{{ letter }}-container img').show();
          game.destroy();
          game = null;
        }
      }
    });
  });
});
</script>
