<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Course",
  "name": "{{ header }}",
  "description": "Learn about {{ name }} and how it is used to build games",
  "url": "https://www.greenhousegames.com/learn/abc/{{ letter }}.html",
  "previewUrl": "https://www.greenhousegames.com/learn/abc/{{ letter }}.html",
  "thumbnailUrl": "https://www.greenhousegames.com/assets/img/learning/letters/{{ letter }}.png",
  "image": "https://www.greenhousegames.com/assets/img/learning/letters/{{ letter }}.png",
  "provider": {
    "@type": "Organization",
    "name": "Greenhouse Games, LLC",
    "sameAs": "https://www.greenhousegames.com"
  }
}
</script>
