section.game-home {
  min-height: calc(100% - #{$header-titlebar-height-small} - #{$header-padding} - #{$footer-height-small});
  @include breakpoint(medium) {
    min-height: calc(100% - #{$header-titlebar-height-medium} - #{$header-padding} - #{$footer-height-medium});
  }
  @include breakpoint(large) {
    min-height: calc(100% - #{$header-titlebar-height-large} - #{$header-padding} - #{$footer-height-large});
  }

  a.play-game-button {
    margin: 0;
    font-size: 1rem;

    @include breakpoint(medium) {
      font-size: 1.5rem;
    }
  }
}
