div.footer {
  background-color: $secondary-color;
  height: $footer-height-small;
  @include breakpoint(medium) {
    height: $footer-height-medium;
    .menu-centered {
      text-align: inherit;
    }
  }
  @include breakpoint(large) {
    height: $footer-height-large;
  }

  div.row {
    padding-top: 25px;

    div.columns {
      position: relative;
      text-align: center;

      @include breakpoint(large) {
        &:first-child {
          left: 100% * 8/12;
          right: auto;
          text-align: right;
        }
        &:last-child {
          right: 100% * 4/12;
          left: auto;
          text-align: left;
        }
      }
    }

    ul.social-menu {
      right: auto;
      text-align: center;
      display: inline-block;
      margin: 0;

      @include breakpoint(large) {
        display: block;
        margin-top: 12px;
      }

      li {
        list-style: none;
        display: block;
        float: right;
        padding-right: 4px;

        a {
          display: block;
        }
      }
    }

    a.logo-button {
      height: 32px;
      width: 32px;
      padding: 0;
    }

    p.copyright {
      margin: 6px 0 0;
      font-size: 0.75em;
      color: $white;
    }

    ul.menu {
      li a {
        color: $light-gray;
      }
    }
  }
}
