div.footer {
  background-color: $secondary-color;
  height: $footer-height-small;
  @include breakpoint(medium) {
    height: $footer-height-medium;
  }
  @include breakpoint(large) {
    height: $footer-height-large;
  }

  div.row {
    padding-top: 25px;

    div.columns {
      position: relative;
      text-align: center;

      @include breakpoint(medium) {
        &:first-child {
          left: 66.6666%;
          right: auto;
          text-align: right;
        }
        &:last-child {
          right: 33.3333%;
          left: auto;
          text-align: left;
        }
      }
    }

    ul.social-menu {
      right: auto;
      text-align: center;
      display: inline-block;
      margin: 0;

      @include breakpoint(medium) {
        display: block;
        margin-bottom: 8px;
      }

      li {
        list-style: none;
        display: block;
        float: right;

        a {
          display: block;
          height: 50px;
          width: 50px;
          background: url(/assets/img/icons/social-icons.png) no-repeat center 0;

          &.twitter {
            background-position: center 0;
          }
          &.facebook {
            background-position: center -200px;
          }
          &.mail {
            background-position: center -400px;
          }
        }
      }
    }

    p.copyright {
      margin: 6px 0 0;
      font-size: 0.75em;
      color: $white;
    }
  }
}
