section.header {
  div.top-bar {
    a, a:hover {
      color: white;
    }

    ul.dropdown.menu .submenu {
      background-color: $secondary-color;
    }

    div.top-bar-left {
      li {
        a.logo-back-button {
          margin: 3px;
          background: url(../img/logo-circle.png);
          height: 32px;
          width: 32px;
        }

        a.arrow-back-button {
          margin: 3px;
          padding: 0;

          i.fi-arrow-left {
            font-size: 32px;
            padding-left: 4px;
          }
        }
      }
    }
  }

  a.root-user-header {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding-right: 8px;

    i {
      margin-right: 4px;
    }
  }

  div.thumbnail-image {
    display: inline-block;
    img {
      border-radius: 50%;
      height: 32px;
      width: 32px;
      margin-right: 8px;
    }
  }

  div.main-header-banner {
    height: $header-banner-height-small;
    background: $primary-color;
    background: linear-gradient($primary-color, $light-background-color);

    @include breakpoint(medium) {
      height: $header-banner-height-medium;
    }
    @include breakpoint(large) {
      height: $header-banner-height-large;
    }

    span {
      color: $secondary-color;
      font-size: 32px;
      margin-top: 8px;
      display: block;
      text-align: center;

      @include breakpoint(medium) {
        font-size: 48px;
      }
    }

    div.logo-container {
      height: 96px;
      width: 96px;
      margin-left: auto;
      margin-right: auto;
      position: relative;

      @include breakpoint(medium) {
        height: 128px;
        width: 128px;
      }

      a.logo {
        background: url(../img/logo-circle-large.png);
        background-size: contain;
        position: absolute;
        height: 96px;
        width: 96px;

        @include breakpoint(medium) {
          height: 128px;
          width: 128px;
        }
      }
    }
  }
}
