section.header {
  div.top-bar {
    a, a:hover {
      color: white;
    }

    ul.dropdown.menu .submenu {
      margin-top: 8px;
    }

    div.top-bar-left {
      li {
        a.logo-back-button {
          margin: 4px;
          background: url(/assets/img/logo-circle.png);
          height: 32px;
          width: 32px;
        }

        a.arrow-back-button {
          margin: 4px;
          padding: 0;

          i.fi-arrow-left {
            font-size: 32px;
            padding-left: 4px;
          }
        }
      }
    }
  }

  a.root-user-header {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding-right: 8px;

    i {
      margin-right: 4px;
    }
  }

  img.thumbnail-image {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-right: 8px;
  }
}
