div#learning-game canvas {
  box-shadow: black 0px 0px 16px;
}

h4.subheader {
  font-style: italic;
}

div.learning-preview-image {
  position: relative;

  div:first-of-type {
    position: absolute;
  }

  div.fill-black {
    background: black;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
}

ul.controls-list {
  list-style-type: none;

  li {
    height: 32px;
    padding-left: 38px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  li:nth-child(1) {
    background: url(../img/learning/a-button-small.png) no-repeat left top;
  }

  li:nth-child(2) {
    background: url(../img/learning/b-button-small.png) no-repeat left top;
  }

  li:nth-child(3) {
    background: url(../img/learning/c-button-small.png) no-repeat left top;
  }

  li:nth-child(4) {
    background: url(../img/learning/d-button-small.png) no-repeat left top;
  }
}
