html, body {
  height: 100%;
}

// force footer to bottom
section.main {
  padding-top: $header-padding;

  min-height: calc(100% - #{$header-height-small} - #{$header-padding} - #{$footer-height-small});
  @include breakpoint(medium) {
    min-height: calc(100% - #{$header-height-medium} - #{$header-padding} - #{$footer-height-medium});
  }
  @include breakpoint(large) {
    min-height: calc(100% - #{$header-height-large} - #{$header-padding} - #{$footer-height-large});
  }

  > div:last-of-type {
    padding-bottom: $header-padding;
  }
}
section.main.subpage {
  background: $light-gray;

  min-height: calc(100% - #{$header-titlebar-height-small} - #{$footer-height-small});
  @include breakpoint(medium) {
    min-height: calc(100% - #{$header-titlebar-height-medium} - #{$footer-height-medium});
  }
  @include breakpoint(large) {
    min-height: calc(100% - #{$header-titlebar-height-large} - #{$footer-height-large});
  }
}

div.light-background {
  background-color: $light-gray;
}

div.card-divider.primary {
  @include card-divider($background: $primary-color);
  color: $white;
}

div.card-divider.secondary {
  @include card-divider($background: $secondary-color);
  color: $white;
}

a.button.icon-button, a.button.icon-button-left {
  i {
    margin-right: 8px;
  }
}

a.button.icon-button-right {
  i {
    margin-left: 8px;
  }
}

a.playstore-button {
  img {
    margin-top: -32px;
    max-width: 135px + 32px;

    @include breakpoint(medium) {
      margin-top: -50px;
      max-width: 200px + 32px;
    }
  }
}

a.appstore-button {
  display:inline-block;
  overflow:hidden;
  background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;
  width: 135px;
  height: 40px;
  background-size:contain;


  @include breakpoint(medium) {
    width: 200px;
    height: 60px;
  }
}
