{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{> html_head hideorgdata='true' skipkeywords='true' skipdescription='true'}}
    {{#ifequal letter "all"}}
      <meta name="description" content="Learn the ABC of Games which covers 26 different concepts used to build 2D games!">
      <meta name="keywords" content="games, learn, abc, learn abc, abc game">
      {{#eachsorted abc letter}}
        {{> structured_data this lesson='true'}}
      {{/eachsorted}}
    {{else}}
      {{#single abc letter}}
        <meta name="description" content="Learn about {{name}} in this lesson of the ABC of Games!  {{subheader}}.">
        <meta name="keywords" content="games, learn, abc, learn abc, abc game, letter {{letter}}, {{name}}">
        {{> structured_data this lesson='true'}}
      {{/single}}
    {{/ifequal}}
    <script src="//cdn.jsdelivr.net/phaser/2.6.2/phaser.min.js"></script>
    <link rel="stylesheet" href="{{root}}assets/css/highlight.css">
    {{#ifequal letter "all"}}
      <script async src="{{ root }}assets/js/pages/learn/abc/preview.js"></script>
      <script>
      $(document).ready(function() {
        var preview = require('pages/learn/abc/preview.js');
        {{#each abc}}
        preview('{{@root.root}}assets/js/pages/learn/abc/{{ letter }}.js', '{{ letter }}');
        {{/each}}
      });
      </script>
    {{else}}
    <script src="{{ root }}assets/js/pages/learn/abc/utils.js"></script>
    <script src="{{ root }}assets/js/pages/learn/abc/{{ letter }}.js"></script>
    <script>
    $(document).ready(function() {
      var create = require('pages/learn/abc/{{ letter }}.js');
      create();
    });
    $(document).ready(function() {
      $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
      });
    });
    </script>
    {{/ifequal}}
  </head>
  <body>
    {{#ifequal letter "all"}}
    <section class="header">
      {{> header }}
    </section>
    {{else}}
    <section class="header">
      {{> header abcletter=letter}}
    </section>
    {{/ifequal}}
    <section class="main">
{{> body}}
    </section>
    <section class="footer">
      {{> footer}}
    </section>
  </body>
</html>
