{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6060845168160443",
        enable_page_level_ads: true
      });
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  	<meta name="mobile-web-app-capable" content="yes">
  	<meta name="apple-mobile-web-app-capable" content="yes">
    <title>Greenhouse Games</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{root}}favicon.ico"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{root}}apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{root}}apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{root}}apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{root}}apple-icon-144x144.png" />
    <link rel="stylesheet" href="{{root}}assets/foundation-icons/foundation-icons.css" />
    <script src="{{root}}assets/js/vendor.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script onload="require('app.js')" src="{{root}}assets/js/app.js"></script>
  </head>
  <body>
    <section class="header">
      {{> header}}
    </section>
    <section class="main subpage">
      {{> body}}
    </section>
    <section class="footer">
      {{> footer}}
    </section>
    <script>
      $(document).foundation();
    </script>
    <script type="text/javascript"> var infolinks_pid = 2955248; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
  </body>
</html>
