<meta charset="utf-8">
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<script async src="https://cdn.ampproject.org/v0.js"></script>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="Greenhouse Games, LLC">
<title>Greenhouse Games</title>
<meta name="description" content="Fun, simple, and addicting games built for android, ios, and web!  Download apps for free now from the app store and play store!">
{{#if canonical}}
<link rel="canonical" href="{{@root.root}}{{canonical}}" />
{{/if}}
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="{{@root.root}}assets/icons/favicon.ico"/>
<link rel="apple-touch-icon" sizes="57x57" href="{{@root.root}}assets/icons/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{@root.root}}assets/icons/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{@root.root}}assets/icons/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{@root.root}}assets/icons/apple-icon-144x144.png" />
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Greenhouse Games, LLC",
  "url": "https://www.greenhousegames.com",
  "logo": "https://www.greenhousegames.com/assets/icons/logo-circle-large.png",
  "sameAs": [
    "https://www.facebook.com/greenhousegamez",
    "https://twitter.com/greenhousegamez",
    "https://www.instagram.com/greenhousegamez"
  ],
  "founder": {
    "@type": "Person",
    "name": "Brian Soumakian",
    "sameAs": [
      "https://www.linkedin.com/in/brian-soumakian-91141811",
      "https://www.facebook.com/briansoumakian",
      "https://twitter.com/briansoumakian"
    ]
  }
}
</script>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
